@model Decanat.Models.DecanatModels.ViewAnswerAndVKR
@{
    ViewBag.Title = "Home Page";
}

@if (User.IsInRole("admin"))
{
    <h2>Я админ</h2>
    <p>
        @Html.ActionLink("Посмотреть всё", "getAllWorks")
    </p>
}
else
{
    if (User.IsInRole("student"))
    {
        <h2>Я студент</h2>
        <h2>
            @Html.DisplayFor(modelItem => Model.vkr.theme)
        </h2>
    }
    else
    {
        if (User.IsInRole("teacher"))
        {
            <h2>Я преподаватель</h2>
            <h2>
                @Html.DisplayFor(modelItem => Model.id)
            </h2>
            <p>
                Для вас были представлены ответы на следующие работы
            </p>
            <table class="table">
                <tr>
                    <th>
                        Название работы
                    </th>
                    <th>
                        Дата предоставления
                    </th>

                </tr>
                @foreach (var item in Model.answers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.vkrName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.answerDate)
                        </td>
                        <td>
                            @Html.ActionLink("Просмотреть", "ShowAnswerInfo", new { id = item.id })
                        </td>
                    </tr>
                }

            </table>

        }
        else
        {
            if (User.IsInRole("decan"))
            {
                <h2>Я Декан</h2>
                <p>
                    @Html.ActionLink("Добавление преподавателя", "AddTeacher")
                </p>

                <p>
                    @Html.ActionLink("Просмотр всех групп", "GetAllGrous")
                </p>


            }
            else
            {
                if (User.IsInRole("director"))
                {
                    <h2>Я Директор, мне необходимо сделать частичное представление как у студента и препода</h2>

                    <p>
                        @Html.ActionLink("Добавление преподавателя", "AddTeacher")
                    </p>
                    <p>
                        @Html.ActionLink("Утверждение плана-графика", "")
                    </p>
                    <p>
                        На отверждение были отправлены Планы-Графики на следующих групп
                    </p>
                    <table class="table">
                        <tr>
                            <th>
                                Группа
                            </th>
                            <th>

                            </th>
                        </tr>
                        @foreach(var item in Model.plans)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.getGroupName)
                                </td>
                                <td>
                                    @Html.ActionLink("Подробнее", "ShowPlanInfo", new { id = item.id})
                                </td>
                            </tr>
                        }
                    </table>

                }
                else
                {
                    <h2> Для доступа к возможностям сервиса вам необходимо пройти авторизацию</h2>}

            }
        }
    }

}
