@model Decanat.Models.DecanatModels.PlanAndStepsViewModel

@{
    ViewBag.Title = "ShowPlanInfo";
}
@if (User.IsInRole("teacher") | User.IsInRole("decan") | User.IsInRole("director"))
{
    <h2>Информация о плане</h2>
    <h2>
        @Html.DisplayFor(modelItem => Model.plan.id)
    </h2>
    <p>
        План-График для группы: @Html.DisplayFor(modelItem => Model.plan.getGroupName)
    </p>
    <p>
        Имеет статус: @Html.DisplayFor(modelItem => Model.plan.getStatus)
    </p>
    if ((Model.plan.status == 1 || Model.plan.status == 3) && User.IsInRole("decan"))
    {
        <p>
            @Html.ActionLink("Отправить на утверждение", "SetPlanStatus", new { id = Model.plan.id, status = 7 })
        </p>
    }
    if (User.IsInRole("director") & Model.plan.status == 7)
    {
        <p>
            @Html.ActionLink("Утвердить", "SetPlanStatus", new { id = Model.plan.id, status = 2 })
        </p>
        <p>
            @Html.ActionLink("Отправить на исправление", "SetPlanStatus", new { id = Model.plan.id, status = 3 })
        </p>
    }
    <p>
        Включает в себя следующие этапы
    </p>
    if ((Model.plan.status == 1 || Model.plan.status ==3) && (User.IsInRole("decan") || User.IsInRole("director")))
    {
        @Html.ActionLink("Добавить этап", "AddStep", new { id = Model.plan.id })
    }
    <table class="table">
        <tr>
            <th>
                Название этапа
            </th>
            <th>
                Дата сдачи
            </th>
            <th>
                Комментарий
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model.steps)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        @if ((Model.plan.status == 1 || Model.plan.status == 3) && (User.IsInRole("decan") || (User.IsInRole("director"))))
        {
            <td>
                @Html.ActionLink("Редактировать", "editStep", new { id = item.id })
            </td>

        }
        <td>
            @Html.ActionLink("Просотреть", "getStepInfo", new { id = item.id })
        </td>
    </tr>
        }


    </table>
    if (Model.plan.status == 1 & User.IsInRole("decan"))
    {
        @Html.ActionLink("Отменить", "SetPlanStatus", new { id = Model.plan.id, status = 4 })
    }
}
